body{
    background-attachment: fixed;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(0, 200, 255),rgb(0, 255, 191));
    background-repeat: no-repeat;
}

.buttons{
    background-color: rgba(255, 255, 255, 0.458);
    border: 1px solid rgba(0, 208, 255, 0);
    border-radius: 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    height: 150px;
    width: 150px;
    font-size: 700%;
    font-family: monospace;
    color: burlywood;
}
.buttons:active{
    background-color: rgba(240, 240, 240, 0.792);
}
.box{
    margin-left: 34%;
}

#currentplayer{
    text-align: center;
    color:crimson;
    font-family: monospace;
    font-size: 500%;
}
#winner{
    text-align: center;
    color:brown;
    font-family: monospace;
    font-size: 500%;
}